@media screen and (max-width: 600px) {
    body {
      background-color: rgb(233, 199, 47);
      background-size: 100% 22%;

    }

    header {
        padding: 8%;
    }
    nav {
        width: 90%;
        padding: -10px;
        margin: auto;
        margin-top: -8%;
        height: 40px;
        font-size: 15px;
       
    }
    /* .main-logo {
        margin-left: -5px;
        
    } */
    .cherry {
        font-size: 100%;
        color: white;
        /* text-align: center; */
        margin-top: -40.94%;
        padding-left: 10px;
    
    }
    h1 {
        font-size: 100%;
    }
    h2{
        font-family: 'Luxurious Script', cursive;
         font-size: 100%;
        
        padding-top: 1px;
         
    }

    .order {
        margin-left: 4vw;
        padding: 6px;
        margin-top: -2px;
        width: 18%;
        font-size: 55%;
    }
    .second {
        margin-top: 55vh;
        height: 410vh;
    }
    .browse {
        margin-left: 27vw;
    }

    

    .grid-container {
        display: grid;
        gap: 4em;
        grid-template-columns: auto ;
        background-color: transparent;
        border: no-border;
        padding: 10px;
      }
    
      .third {
          
        height: 40vh;
      }
      .third img {
        height: 35vh;
        width: 30%;
        height: 20%;
       
        margin-top: -12em; 
        
      }
  
    
    .third h4 {
        font-size: 1em;
        padding-left: 2.5vw;
        padding-bottom: 20px;
      }
    
    
    .third p {
        padding: 25px;
        padding-left: 2vw;
        font-size: 0.7em;
    
    }   

  .team p {
    font-size: 70%;
    
    text-align: center;
}


.food1 img {
    width: 40%;
    height: 6em;
    gap: 5em;
    
}

.food1 {
background-color: transparent;
width: 150%;
height: -15%;
margin: auto;

   
  }
  .food-response {
    font-size: 20px;
   
  }
  .food_detail {
    font-size: 14px;
    
  }
  
 .feature-two {
      display: flex;
      justify-content: center;
      padding-top: 7em;
      gap: 0%;
      
 }
}