
@media screen and (min-width :601px) and (max-width: 959px){
    body {
        /* background-color: rgb(21, 255, 0); */
        background-size: 100% 16.5%;
    }
      header {
        padding-top: 10%;
    }
      nav {
        width: 60%;
        padding: -20px;
        margin: auto;
        margin-top: -8%;
        height: 40px;
        font-size: 15px;
       
    }

    /* .main-logo {
        margin-left: -60px;
        
    } */

    .cherry {
        font-size: 100%;
        color: white;
        /* text-align: center; */
        margin-top: -22.94%;
        padding-left: 60px;
    
    }
    h1 {
        font-size: 120%;
    }
    h2{
        font-family: 'Luxurious Script', cursive;
         font-size: 130%;
        
        padding-top: 1px;
         
    }

    .order {
        margin-left: 4vw;
        padding: 6px;
        margin-top: -5px;
        width: 16%;
        font-size: 60%;
    }
    .second {
        margin-top: 15vh;
        height: 240vh;
    }
    .browse {
        margin-left: 45vw;
    }

    .grid-container {
        display: grid;
        gap: 4em;
        grid-template-columns: 40% 40% ;
        background-color: transparent;
        border: no-border;
        padding: 10px;
      }
      .creme {
        padding-top: 2%;
        padding-left: 30%;
    }
      .third {
          
        height: 33vh;
      }
      .third img {
        height: 45vh;
        width: 30%;
        height: 20%;
       
        margin-top: -12em; 
        
      }
  
    .third br {
        margin-top: 20px;
    }
    .third h4 {
        font-size: 1.2em;
        padding-left: 2.5vw;
        padding-bottom: 20px;
        margin-left: 25px;
      }
    
    
    .third p {
        padding: 5px;
        margin-left: 25px;
        margin-right: 30px;
        padding-left: 2vw;
        font-size: 0.6em;
    
    }   
    .team p {
        font-size: 90%;
        
        text-align: center;
    }
    .food1 {
        margin: auto;
    }
    .food1 img {
        width: 70%;
        height: 8em;
    }
}